# Dolby Vision Display Management Configuration File
# Path : /vendor/persist/display/
# Date : 05/29/2024
# Brand Model Number: OPPO OPD2404

[Global]
ReferenceDarkPicModeIndex = 0
IDK_Version = SW_4.5
DMSwVersion = 4.0

Tmax = 570
Tmin = 0.1
TPrimaries = 0.6722 0.3216 0.2685 0.6821 0.1393 0.0596 0.299 0.322
TEOTF = POWER
Tgamma = 2.27
DSaturation = 0.22

Ambient = 0
TSurroundReflection = 0.5
TScreenReflection = 0.0005
ALDelayMilliSec = 50
ALResponseFall = 0.02
ALResponseRise = 0.08
ALOperationalRate = 50
TFrontLux = 700
TFrontLuxScale = 1

[PictureMode = 0]
PictureModeName = Dolby Vision Bright
DBrightness = 0.3

[PictureMode = 1]
PictureModeName = Dolby Vision Vivid
DBrightness = 0.3

[PictureMode = 2]
PictureModeName = Dolby Vision Bright
DBrightness = 0.3
